body {
  background-color: #facbe5;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

a {
  color: rgb(153, 28, 12);
}

img {
  max-width: 500px;
  margin: 0 auto 30px;
  display: block;
}

.links {
  display: flex;
  justify-content: space-evenly;
}
